* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav {
  position: fixed;
  display: flex;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
}
.nav .back {
  margin-left: 1.4rem;
}
.nav .back:hover {
  cursor: pointer;
}
.nav .back:hover::before {
  transform: translateX(6px);
}
.nav .back:hover::after {
  transform: translateX(-8px);
}
.nav .back::before, .nav .back::after {
  content: "<";
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  transition: all 0.2s linear;
}
.nav .back::before {
  transform: translateX(15px);
  transition-delay: 0.1s;
}

.projects {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
  perspective: 600px;
}
.projects .project {
  position: relative;
  width: 375px;
  height: 70vh;
  margin-right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .project .title {
  position: relative;
  opacity: 0;
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.2s linear;
}
.projects .project .title::before {
  content: "+";
  position: absolute;
  top: -2.82rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 845;
}
.projects .project:hover {
  cursor: pointer;
}
.projects .project:hover::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  transition: all 0.2s linear;
  background-color: rgba(151, 151, 151, 0.6);
}
.projects .project:hover .title {
  opacity: 1;
}
.projects .project1 {
  background: linear-gradient(to bottom right, cornflowerblue, cadetblue 60%);
}
.projects .project2 {
  background: linear-gradient(to bottom, olivedrab, darkolivegreen);
}
.projects .project3 {
  background: linear-gradient(to bottom left, salmon, maroon 60%);
}
.projects .project4 {
  background: linear-gradient(to left, teal, aqua);
}
.projects .project5 {
  background: linear-gradient(to top left, darkslateblue, mediumorchid);
}
.projects .project6 {
  background: linear-gradient(to top, coral, burlywood);
}
.projects .project7 {
  background: linear-gradient(to top right, darkturquoise, darkviolet);
}
.projects .project8 {
  background: linear-gradient(to right, plum, royalblue);
}
